header{
    background-color: pink;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.box1{
    background-color: cadetblue;
    height: 350px;
    display: flex;
}
.box2{
    background-color: cadetblue;
    height: 350px;
    display: flex;
}
.content-section{
    background-color:pink;
    height: 90%;
    width: 25%;
    margin: 5px;
    justify-content: center;
    background-image: url(cloth3.jpg);
    background-size: cover;
    border-image: fill;
    
}
.content-2{
    height: 15%;
    width: auto;
    
}
p{
    padding-top: 310px;
    padding-left: 50px;
}
.two{
background-image: url(cloth4.jpg);
}
.three{
    background-image: url(cloth5.jpg);
}
.four{
    background-image: url(cloth6.jpg);
}
.five{
    background-image: url(clo);
}
footer{
    background-color: pink;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
     
}
i{
    color: black;
}
